body{
margin: 0;
font-family: 'Oswald', sans-serif;
}
.header, .main, .footer{
max-width: 1920px;
min-width: 600px;
}
.header>img{
    position: absolute;
}
.header{
    height: 740px;
    background-image: url(../image/background.svg);
    
    
}
.logo{
float: left;
margin: 0.4rem 25.2rem;
}
.burger{
    float: right;
    height: 50px;
    width: 50px;
    background-color: #F7654A;
    margin: 2rem 25.4rem;
    
}
.line{
    border-bottom: 3px solid white;
    width: 21px;
    margin-top: 5px;    
}
.menu{
    margin: 13.8px;
}
.headtxt{
    color: white;
    text-transform: uppercase;
    text-align: center;
    position: absolute;
    top: 9.2rem;
    left: 33rem;
}
.headtxt>h1{
    font-weight: 500;
    font-size: 64px;
    line-height: 95px;
    letter-spacing: 0.02em;
    margin-bottom: -0.04rem;
}
.headtxt>h2{
    font-weight: 400;
    font-size: 18px;
}
.main{
    background-color: white;
}
.time{
    width: 70rem;
    background-color: #F7F7F7;
    position: absolute;
    top: 37rem;
    left: 25rem
    
}
.time>.content{
    width: 90%;
    margin: 3.2rem auto;
}
.content>.txt{
    display: inline-block;
    text-align: center;
    font-weight: 500;
    margin-left:  8.56em;
}
.txt>span:nth-child(1)
{

font-size: 72px;
color: #F7654A;
}
.txt>span:nth-child(3){
text-transform: uppercase ;
font-size: 36px;
color: black;
}
.txt>span:nth-child(2){

font-size: 18px;
color: #999999;
}
.main>h1{
    text-align: center;
    margin-top: 15rem;
    margin-bottom: 15rem;
}
.container{
    display: flex
   
}