body{ 
   
background-color: #131313;
width: 100%;
max-width: 1980px;

}
.background{
    background-image: url(./Стена.svg);
position: absolute;
width: 1157px;
height: 746px;
margin-right: 376px;
margin-top: 14px;
background-position: 100;
background-repeat: no-repeat;
}
.header{
    height: 59px;
    width: 1980px;
    align-items: center;
    border-bottom: 1px solid #272727;




}
.xp{
   
    height: 59px;
    font-family: 'Caveat', cursive;
    font-size: 30px;
    color:  #1ACD4C; 
    margin-left: 387px;
     text-transform: uppercase;
    padding-right: 25px;

    border-right: 1px solid #272727;
}
.no{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 19.5px;
    color: white;
    height: 50px;
    padding-left: 5px;
}
.nav{
    position: absolute;
    width: 1014px;
    height: 59px;
    left: 519px;
    top: 0px;
justify-content: flex-start;
Line height 15.85px;
display: flex;
align-items: center;
text-align: right;
text-transform: uppercase;
list-style: none;
margin: 0%;


}
.nav>li{
    margin-left: 20px;
    align-items: center;
}
a{
    text-decoration: none;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight: 700;
    margin-left: 30px; 
}
.none
{
    color: #272727;
    text-decoration: line-through;
}
h1{
    position: absolute;
width: 517px;
height: 41px;
left: 387px;
top: 150px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 900;
font-size: 30px;
line-height: 37px;

color: #FFFFFF;
}
table{
    position: absolute;
width: 1146px;
height: 605px;
left: 387px;
top: 222px;
}
table>thead>tr>td{
  
    font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 13px;
line-height: 16px;
text-transform: uppercase;
color: #727272;
}

table>tbody>tr>td{

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
color: #FFFFFF;
background-color: #131313;
padding-left: 15px;

}
