body{
    width: 100%;
    max-width: 1920px;
    background-color: #201636;
    background
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.header{
    
    height: 62rem;
    background-size: 1280px 760px;
    background-repeat: no-repeat;
    background-position: 2em 14em;
    background-image: url(../images/header/Картинка.png);

}
.txt{
    margin: 1rem 10rem 0rem 58.5rem;
    padding-top: 25rem;
    width: 40%;
    text-align: center;
}
.txt>h2{
text-align: left;
font-style: normal;
font-weight: 700;
font-size: 18px;
text-transform: uppercase;
color: white;
margin-bottom: 5.5rem;

}
.txt1{
text-align: left;    
font-weight: 400;
font-size: 20px;
color: white;
margin-bottom: 3.5rem;

}
.txt2{
width: 670px;
height: 54px;
background-color: rgba(255, 255, 255, 0.5);
border-radius: 50px;
font-weight: 700;
font-size: 15px;
color: #211637;
padding-top: 1rem;
margin-bottom: 1rem;
}
.start{
    display: flex;
    align-items: center;

}
.log{
 font-weight: 700;
font-size: 18px;
text-align: left;
color: white;
padding-right:1.75rem ;

text-transform: uppercase;
}
.middle{
    display: flex;
    justify-content: center;
    margin-left: 8px;
   /* background-size: 1920px 783px;
    background-image: url(../images/midlle/Фон.svg);*/
    
}
.background{
    position: absolute;
    top: 980px;
    left: 0;
}
.txt21, .txt22, .txt23{
    width: 17%;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: white;
    margin-top: 5.5%;
    padding-left: 91px;
}

.h{
    font-weight: 700;
}
.middle>div>img{
    margin-bottom: 30px ;
}


.h3{
    color: white;
    text-align: center;
    margin:  235px 0px 0px 118px;
    position: relative;
    z-index: 6;
}
.h3>h2{
    font-weight: 900;
    font-size: 36px;
}
h2>span{
    color: #F09F0C;
}
.h3>h3{
    margin-top: -18px;
    font-weight: 400;
    font-size: 24px;
}

.image>img{
    position: absolute;
}
.image>img:nth-child(1){
    top: 1695px;
    left: 346px;
    z-index: 4;
}
.image>img:nth-child(2){
    top: 1639px;
    left: 67px;
    z-index:3; 
}
.image>img:nth-child(3){
    top: 1363px;
    left: 18px; 
    z-index:2; 
}
.image>img:nth-child(4){
    top: 2220px;
    left: 272px;
    z-index:5;
}
.txt3{
    
    margin: 60px 293px 0px 943px;
    font-weight: 400;
font-size: 16px;
line-height: 23px
}
ul{
    list-style-type: none;  
}
ul>li{
    
    color: white;
    padding-bottom: 1.3em ;
    text-align: ;
    text-indent: -45px;
   
}
li::before{
    content: '';
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url(../images/footer/Arrow.svg);
    margin-right: 20px;
    

    ;
}

